* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  padding-top: 50px;
}

.button {
  display: block;
  text-align: center;
  padding-top: 10px;
  width: 150px;
  height: 40px;
  background-color: #89BFB8;
  border-radius: 5px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  .line {
    display: block;
    background-color: #E8EAED;
    width: 90%;
    height: 2px;
  }

  .main {
    margin: 0 auto;
  }

  .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #20655B;

  }

  .menu {

    &__item {
      text-align: center;
    }

    &__link {
      color: #20655B;
    }
  }

  .content1 {
    color: #33A696;

    &__bg {
      background-color: #C8FFF8;
      height: 300px;
      padding-top: 50px;
      margin-bottom: 20px;
    }


    &__info {
      max-width: 300px;
      margin-left: 30px;
    }

    &__txt {
      margin-bottom: 20px;
    }

  }

  .content2 {
    color: #33A696;

    &__bg {
      background-color: #C4FFB5;
      height: 300px;
      padding-top: 50px;
    }

    &__info {
      max-width: 300px;
      margin-right: 50px;
      margin-left: auto;
      text-align: end;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__txt {
      margin-bottom: 20px;
    }

    &__btn {
      margin-left: auto;
    }
  }

}